type rfs_access, domain;
type rfs_access_exec, exec_type, file_type;

# Started by init
init_daemon_domain(rfs_access)

allow rfs_access self:socket { read bind create ioctl };
allow rfs_access uio_device:chr_file { read open write };
allow rfs_access persist_file:dir { search setattr };
allow rfs_access self:capability net_raw;

